@import "tailwindcss";
/* *{
    border: 1px solid red;
} */

@theme {
  --color-secondary: #05422c;
  --color-white: #ffffff;
  --color-text-gray: #46494f;
  --color-button-green: #17AF26;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Lexend";
}
